<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                elkano<b>group</b> 路 C/Portuetxe 57 2D 路 San Sebastian 路 Gipuzkoa 路 {{ contact_email }}
            </div>
        </div>
    </div>
</footer>