{% extends '::base.html.twig' %}

{% block title %} {{ producto.nombre }} {% endblock %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1>{{producto.nombre}}</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><h2>{{producto.puntos}}</h2></div>
        </div>
        
    </div>

{% endblock %}